body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.background-container {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    animation: changeBackground 20s infinite;
}

@keyframes changeBackground {
    0% { background-image: url('bg1.png'); }
    25% { background-image: url('bg2.png'); }
    50% { background-image: url('bg3.png'); }
    75% { background-image: url('bg4.png'); }
    100% { background-image: url('bg1.png'); }
}
